<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/p.ico">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <title>Pangea</title>
</head>
<body>
    <img class="bgc" src="../img/bgc.png" alt="bgc">

    <div class="main-wrapper">
        <div class="container">
            <div class="main-link-cont">
                <a class="main-link action-button shadow animate swing" href="/templates/page.html">ПЕРЕЙТИ НА САЙТ</a>
            </div>

            <div class="main-logo">
                <img class="swing" src="/img/logo.png" alt="logo" width="80">
                <div class="main-logo-st swing">PANGEA</div>
            </div>

            <div class="main-title">
                <div class="circle swing">👨🏻‍🎓</div>
                <div class="circle swing">🏠</div>
                <p class="nadpis swing">Онлайн-платформа по поиску сожильцев для совместной аренды</p>
            </div> 
        </div>
    </div>  
</body>
</html>